extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/upload', method='post', enctype='multipart/form-data')
    input(name='image', type='file')
    input(type='submit')
